.row{
  margin: 2px 0px;
  overflow: hidden;
  text-align: center;
}

button[class^="key-"] {
  height: 80px;
  margin: 0px 2px;
  font-family: "Arial Black";
  font-size: 2em;
  border-radius: 5px;
}

.key-enter {
  width: 110px;
  color: #000;
  background-color: #BBBBBB;
  cursor: pointer;
}

.key-backspace {
  width: 110px;
  color: #000;
  background-color: #BBBBBB;
  cursor: pointer;
}

.key-normal {
  width: 60px;
  color: #000;
  background-color: #BBBBBB;
  cursor: pointer;
}

.key-present {
  width: 60px;
  color: #000;
  background-color: #FFCC33;
  cursor: pointer;
}

.key-correct {
  width: 60px;
  color: #000;
  background-color: #33CC00;
  cursor: pointer;
}

.key-absent {
  width: 60px;
  color: #000;
  background-color: #333333;
  cursor: default;
}

